* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;

}
li, ol {
    list-style: none;
}
a{
    text-decoration: none;
}

/* my helper */
.dblock {
    display: block;
}
.br {
    border: 1px solid red;
}
.bg{
    border: 1px solid green;
}
.by{
    border: 1px solid yellow;
}

/* end my helper  */

/* tip & tricks */
.visually-hidden {
    position: absolute;
    left: -999999px;
    width: 0px;
    height: 0;
    visibility: hidden;
}

/* end tip tricks */

/* start &  code */
.wrap {
    width: 1140px;
    margin: 0 auto;
    
}

.container {
    padding: 0 calc(50% - 1140px / 2);
}

/* шапка */
.header {
    background-color: #222;
    min-height: 75px;
    color: #fff;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 18px 0 0 0;
}
.header-left, .header-right {
    display: flex;
    align-items: center;
}
.header-left--logo {
    margin-right: 41px;
}
.header-right--login {
    margin: 0 33px;
}


/* /шапка */

/* промо */
.promo {
    background-color: #F1E4E6;
    
}

.promo-wrap {
    min-height: 764px;
    background-image: url(../img/promo-img.png);
    background-repeat: no-repeat;
    background-position-x: -226px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.promo-title {
    margin-right: 90px;
    color: #222222;
    padding: 13px 16px;
    border-left: 12px solid #F16D7F;
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 900;
    line-height: 38px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.promo-title__small, .promo-title__pink {
    font-size: 32px;
    font-weight: 900;

}

.promo-title__pink {
    color: #F16D7F;
}
/* /промо */



.categories {
    padding: 30px 0 50px 0;
}

.categories-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories-item {
    width: 360px;
    height: 260px;
    background-color: #211616;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories-item-top {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.categories-item-bottom {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.category-woman {
    background: url(../img/cat-item-woman.jpg) no-repeat center ;

}
.category-man {
    background: url(../img/cat-item-man.jpg) no-repeat center ;

}
.category-kids {
    background: url(../img/cat-item-kid.jpg) no-repeat center ;

}
.category-acc {
    background: url(../img/cat-item-ACCESORIES.jpg) no-repeat center ;
    width: 100%;
    height: 180px;
    margin-top: 20px;
}


.popular {
    margin: 0 0 95px 0;

}
.popular-title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
.popular-slogan{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 47px;
}
.products {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    

}
.product{
    display: block;
    max-width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
    /* не смог найти тень в фигме */

}
.product-text-block {
    padding: 25px 18px 20px;
}

.product-title {
    display: block;
    color: #000000;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;

}
.product-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;

}
.product-price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_prod_button {
    padding: 14px 38px;
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;

}
.all_prod_button:hover{
    filter: drop-shadow(0px 4px 4px rgba(90, 5, 5, 0.05));
}

/* advantages */

.advantages {
    background: #222224;
    
}
.advan-wrap {
    padding: 100px 0;

}

.advan-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.advan-item {
    min-width: 360px;
    display: block;
    color: #FBFBFB;
    text-align: center;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-position: center top;
}
.advan-item:nth-child(1){
    background-image: url(../img/advan-delivery.svg);
} 
.advan-item:nth-child(2){
    background-image: url(../img/advan-sale.svg);
    
}
.advan-item:nth-child(3){
    background-image: url(../img/advan-crown.svg);
    
}
.advan-item-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    
} 
.advan-item-desc{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}


/* feedback */

.feedback {
    background: #D73C3C;
    background-image: url(../img/bg-subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feedback-wrap {
    min-height: 448px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.feedback-reviews {
    max-width: 360px;
    text-align: center;
}
.feedback-reviews-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.feedback-reviews-text__ital{
    font-style: italic;
}

.feedback-subscribe {
    color: #222224;
    text-align: center;
}
.feedback-subscribe-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 167%;
}
.feedback-subscribe-text {
    font-size: 18px;
    line-height: 167%;
    margin-bottom: 32px;
}
.feedback-form {
    display: flex;
}
.feedback-subscribe-email, .feedback-subscribe-button{
    border: none;
    font-size: 14px;
    line-height: 17px;
    padding: 19px 22px;
}
.feedback-subscribe-email {
    border-radius: 30px 0 0 30px;
}
.feedback-subscribe-button {
    background: #F16D7F;
    color: #fff;
    border-radius:  0 30px 30px 0;
}



/* footer */
.footer{
    background: #222224;
    color: #FBFBFB;
    padding: 30px 0;
}
.footer-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}




.shared-links {
    display: flex;
    box-sizing: border-box;
    
}
.shared-link {
    width: 32px;
    height: 32px;
    display: flex;
    color: #000;
    background: #FFF;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.shared-link:hover {
    color: #fff;
    background: #F16D7F;
}


.page-title{
    height: 180px;
    background: #F8F3F4;
}